Tipo de valor Impreso

In [1]:
print ( type (1) )

<class 'int'>

Como nombrar a una variable correctamente

In [2]:
horas = 35.0
tarifa = 12.50
salario = horas * tarifa
print(salario)

437.5

Valor 10 Entero

In [3]:
print (10)
print ( type (10) )

10
<class 'int'>

Variable 100 Entero

In [4]:
variable = 100
print (variable)
print ( type (variable) )

100
<class 'int'>

Variable 20 Entero

In [5]:
variable_2 = int (20)
print (variable_2)
print ( type (variable_2) )

20
<class 'int'>

Valor 10 en distintas bases

In [6]:
print ("Base decimal")
print (10)

print ("Base binaria")
print (0b1010)

print ("Base octal")
print (0o12)

print ("Base hexadecimal")
print (0xa)

Base decimal
10
Base binaria
10
Base octal
10
Base hexadecimal
10

Entero con 60 dígitos

In [7]:
variable_3 = 123456789012345678901234567890123456789012345678901234567890
print (variable_3)
print ( type (variable_3) )

123456789012345678901234567890123456789012345678901234567890
<class 'int'>

Valor 0.5 Flotante

In [8]:
print (0.5)
print ( type (0.5) )

0.5
<class 'float'>

Variable 0.100546 Flotante

In [9]:
variable_4 = 0.100546
print (variable_4)
print ( type (variable_4) )

0.100546
<class 'float'>

Variable 1 Flotante

In [10]:
variable_7 = float (1)
print(variable_7)
print ( type (variable_7) )

1.0
<class 'float'>

Precisión de 17 decimales

In [11]:
variable_5 = 0.9999999999999999
print(variable_5)
print ( type (variable_5) )

0.9999999999999999
<class 'float'>

Valor 2.0e-3 Flotante

In [12]:
variable_6 = 2.0e-3
print(variable_6)
print ( type (variable_6) )

0.002
<class 'float'>

Operadores aritméticos

In [13]:
a = 10
b = 3
# Suma
print ("Suma")
print (a + b)
# Resta
print ("Resta")
print (a - b)
# Multiplicación
print ("Multiplicación")
print (a * b)
# División
print ("División")
print (a / b)
# Potencia
print ("Potencia")
print (a ** b)
# Módulo o residuo
print ("Módulo o residuo")
print (a % b)
# División entera
print ("División entera")
print (a // b)

Suma
13
Resta
7
Multiplicación
30
División
3.3333333333333335
Potencia
1000
Módulo o residuo
1
División entera
3

Operaciones más complejas

In [14]:
minutos = 300
tiempo_extra_segundos = 3600
horas = (minutos + tiempo_extra_segundos / 60) / 60
print (horas)

6.0

Operadores de Comparacion

In [15]:
print ("Operadores de comparación")
comparar = 10
print (comparar < 10)
print (comparar > 10)
print (comparar == 10)
print (comparar <= 10)
print (comparar >= 10)
print (comparar != 10)

Operadores de comparación
False
False
True
True
True
False

In [16]:
print ("Operadores de comparación int - float")
entero = 10
flotante = 10.0
print (entero < flotante)
print (entero > flotante)
print (entero == flotante)
print (entero <= flotante)
print (entero >= flotante)
print (entero != flotante)

Operadores de comparación int - float
False
False
True
True
True
False